@charset "UTF-8";
html{
  font-size: 16px;  
}
body{
  background-image: url(../img/pink.jpg); /*Photo by eberhard grossgasteiger on Unsplash*/
  background-position: center center;
  background-size: cover;
  max-width: 1000px;
  margin: 0 auto;  
  font-size: 1.2em;
  padding: 10px;/*adding inner margin so the text is not exactly to the edge for small screens */
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s ease-in-out; /*giving the page  an effect when it loads*/
}
/*styling the horizontal line in all pages*/
hr{
    width: 80%;
    border: none;
    border-top: 4px double black;
    color: black; 
    text-align: center;
    overflow:visible;  
    height: 5px;
}
hr::after {
    content: "\2740";
    padding: 0 6px;
    position: relative;
    top: -22px;
    font-size: 30px;
    background-color:	rgb(251, 200, 199);
    border-radius: 50%;
}
header{
  font-size: 1.3rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  min-height: 50px;
  width: 80%;
  margin: 0 auto;
}
h1{
font-size: 1.1em;
}
nav{
  text-align: center;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li{
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
}
nav ul li a{
  color:white;
  padding: 5px;
  border-radius: 10px;
  transition: 0.6s ease-in-out;
}
nav a:link, nav a:visited{
  background-color: rgb(82, 141, 22);
  text-decoration: none;
}
nav a:hover, nav a:active{
  background-color: rgba(155, 160, 151, 0.5);
  text-decoration: underline;
}
header a:link, header a:visited{
  color: white;
  text-decoration: none;
  
}
header a:hover,header a:active{
  color: rgba(211, 160, 20, 0.5);
  text-decoration: underline;
}
.selectedPage{
  background-color: yellowgreen !important;/*!important otherwise nav a:link has higher precedence*/
}
/*styling img in the three pages and making all the img responsive*/
img{
  max-width: 100%;
}
#urlDescription img, #loveToLearn img, #regel img{
  max-height:300px;
}
#urlDescription, #loveToLearn, #regel{
  text-align: center;
}
/*force the line to break in small*/
small, #urlQuestion h4{
  word-break: break-all;
}
/*the list in index*/
#urlQuestion ul{
  list-style: square;
}