@charset "UTF-8";
body{
  max-width: 1000px;
  margin: 0 auto;  
  font-size: 1.2em;
  padding: 10px;/*adding inner margin so the text is not exactly to the edge for small screens */
}
/*styling the horizontal line in all pages*/
hr{
    width: 80%;
    border: none;
    border-top: 4px double black;
    color: black; 
    text-align: center;
    overflow:visible;
    
}
hr:after {
    background: #fff;
    content: "\2740";
    padding: 0 6px;
    position: relative;
    top: -22px;
    font-size: 30px;
}
/*making all the img responsive*/
img{
  max-width: 100%;
}
h1{
font-size: 1.1em;
}
nav ul{
  margin: 0 0 20px 0;
  list-style-type: none;
  
}
nav ul li{
  padding: 10px;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color:white;
  background-color: rgb(82, 141, 22);
  padding: 10px;
  border-radius: 10px;
}
/*styling img in the three pages*/
#urlDescription img, #loveToLearn img, #regel img{
  max-height:300px;
}
#urlDescription, #loveToLearn, #regel{
  text-align: center;
}
/*page3*/



