@charset "UTF-8";
body{
  max-width: 1000px;
  margin: 0 auto;  
}
/*styling the horizontal line in all pages*/
hr{
    width: 80%;
    border: none;
    border-top: 4px double black;
    color: black; 
    text-align: center;
    overflow:visible;
    
}
hr:after {
    background: #fff;
    content: "\2740";
    padding: 0 6px;
    position: relative;
    top: -22px;
    font-size: 30px;
}
/*index.html*/
#urlDescription img{
  max-height:250px;
  margin: auto auto;
}
#urlDescription{
  text-align: center;
}